<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,
        h1 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%
        }

        .bgimg {
            background-color: rgb(11, 46, 80);
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-middle ">
            <h1 class="w3-jumbo w3-animate-top">Password Generator Tool</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <div class="w3-large w3-center">
                <p class="w3-padding-8">
                <form action="{% url 'password-generator' %}">
                    <button class="w3-button w3-teal">
                        Password Generator
                    </button>
                </form>
                </p>
                <form action="{% url 'about' %}">
                    <p class="w3-padding-5">
                        <button class="w3-button w3-teal">
                            About
                        </button>
                    </p>
                </form>

            </div>
        </div>
    </div>

</body>

</html>