<!-- <!doctype html>
<html lang="en">
  <head>

  <title>Password Generator</title>
  </head>
  <body>
    <div>



        <h1> Password Generator </h1>


        <form action="{% url 'password' %}">

            
        <label for="pass_size">password length:</label>
        <input type="text" id="pass_size" name="pass_size" value="8">
        <br>
            <label for="uppercase">uppercase:</label>
            <input type="checkbox" name="uppercase">
        <br>
            <label for="lowercase">lowercase:</label>
            <input type="checkbox" name="lowercase">
        <br>
            <label for="numbers">numbers:</label>
            <input type="checkbox" name="numbers">
        <br>
            <label for="specialChar">special characters:</label>
            <input type="checkbox" name="specialChar">
        <br>
            <input type="submit" value="Generate Password">

        </form>

        <br>

        </div>
  </body>
</html>

 -->
<!DOCTYPE html>
<html>

<head>
    <title>Generate Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,
        h1 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%
        }

        .bgimg {
            /* background-image: url("https://drive.google.com/file/d/14Tl3LB-rGglmf6KjChfU6XqkmaL51kzj/view"); */
            background-color: rgb(11, 46, 80);
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topmiddle">
            <h1 class="w3-jumbo w3-animate-top"> Generate Password
            </h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <div class="w3-center">
                <form method="post" action="{% url 'password' %}">
                    <!-- <div class="w3-center w3-padding-16">
                        <label class="w3-text-white" for="pass_size">password length:</label>
                        <input class="w3-input" id="pass_size" type="text"
                            style="width:10%; height:10%; text-align:center; display: inline-block;" value="8">
                    </div> -->
                    <div class="w3-padding-16">
                        <label class="w3-text-white" for="pass_size"> password length:</label>
                        <select class="w3-select" id="pass_size" name="pass_size"
                            style="width:30%; height:10%; text-align:center; display: inline-block;">
                            <option value="8" selected>8</option>
                            <option value="16">16</option>
                            <option value="32">32</option>
                        </select>
                    </div>
                    <div>
                        <div class="w3-center w3-padding-16">
                            <input class="w3-check" type="checkbox" checked="checked" name="uppercase">
                            <label for="uppercase">uppercase</label>
                        </div>
                        <div class="w3-center w3-padding-16">
                            <input class="w3-padding-16 w3-check" type="checkbox" name="lowercase">
                            <label for="lowercase">lowercase</label>
                        </div>
                        <div class="w3-center w3-padding-16">
                            <input class="w3-check" type="checkbox" name="numbers">
                            <label for="numbers">numbers</label>
                        </div>
                        <div class="w3-center w3-padding-16">
                            <input class="w3-check" type="checkbox" name="specialChar">
                            <label for="specialChar">special characters</label>
                        </div>
                        <div class="w3-large w3-center w3-padding-8 w3-button">
                            <input type="submit" value="Generate Password">
                        </div>
                    </div>

                </form>
            </div>

            <div class="w3-large w3-center">
                <p class="w3-padding-8">
                <form action="{% url 'home' %}">
                    <button class="w3-button w3-teal">
                        Home
                    </button>
                </form>
                </p>
                <form action="{% url 'about' %}">
                    <p class="w3-padding-5">
                        <button class="w3-button w3-teal">
                            About
                        </button>
                </form>
                </p>

            </div>
        </div>
    </div>

</body>

</html>