<!doctype html>
<html lang="en">
  <head>

  <title>Password Generator</title>
  </head>
  <body>
    <div>



        <h1> Password Generator </h1>


        <form action="{% url 'password' %}">

            
        <label for="pass_size">password length:</label>
        <input type="text" id="pass_size" name="pass_size" value="8">
        <br>
            <label for="uppercase">uppercase:</label>
            <input type="checkbox" name="uppercase">
        <br>
            <label for="lowercase">lowercase:</label>
            <input type="checkbox" name="lowercase">
        <br>
            <label for="numbers">numbers:</label>
            <input type="checkbox" name="numbers">
        <br>
            <label for="specialChar">special characters:</label>
            <input type="checkbox" name="specialChar">
        <br>
            <input type="submit" value="Generate Password">

        </form>

        <br>

        </div>
  </body>
</html>


